.loader {
    height: 30px;
    margin-top: 14px;
    margin-left: 5px;
}

.loader-inner {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #dddcdc;
    border-top-color: #00cc99; 
    border-bottom-color: #3399ff; 
    animation: spin 1s linear infinite; 
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}